<header class="principal">
  <div class="img">
    <img src="../../assets/img/Main.png" alt="">
  </div>
</header>

<main class="tienda-electronica container row">
  <h2 class="roboto">TIENDA DE MÚSICA ELECTRÓNICA</h2>
  <div class="albums-muestra col m6 row">
    <!-- Cancion 1 -->
    <div class="col m6">
      <img
        src="../../assets/img/home/Keep-On.jpg"
        alt="Keep On - Zonderling feat Bishop"
        class="responsive-img">
    </div>
    <!-- Cancion 2 -->
    <div class="col m6">
      <img
        src="../../assets/img/home/Good-Evening.jpg"
        alt="Good Evening - Deorro"
        class="responsive-img">
    </div>
    <!-- Cancion 3 -->
    <div class="col m6">
      <img
        src="../../assets/img/home/Cartel-Ep.jpg"
        alt="Cartel EP - Boombox Cartel"
        class="responsive-img">
    </div>
    <!-- Cancion 4 -->
    <div class="col m6">
      <img
        src="../../assets/img/home/Calamari-Tuesday.jpg"
        alt="Calamari Tuesday - Feed Me"
        class="responsive-img">
    </div>
    <!-- Cancion 5 -->
    <div class="col m6">
      <img
        src="../../assets/img/home/Pharmacy.jpg"
        alt="Pharmacy - Galantis"
        class="responsive-img">
    </div>
    <!-- Cancion 6 -->
    <div class="col m6">
      <img
        src="../../assets/img/home/Heartache.jpg"
        alt="Heartache EP - Max Styler"
        class="responsive-img">
    </div>

  </div>
  <div class="home-texto vertical-center-align col m6">
    <h3 class="lane">ENCUENTRA LAS MEJORES CANCIONES DE LA MÚSICA ELECTRONICA</h3>
  </div>
</main>

<div class="clearfix"></div>

<section class="home-promotional second row">
  <div class="home-txt-lateral vertical-center-align col m6 offset-m6 grey darken-4">
    <h2>A DONDE QUIERA QUE ESTES, LA MÚSICA ESTARÁ CONTIGO</h2>
  </div>
</section>

<section class="home-promotional first row">
  <div class="home-txt-lateral vertical-center-align col m6 brown darken-3">
    <h2>A DONDE QUIERA QUE ESTES, LA MÚSICA ESTARÁ CONTIGO</h2>
  </div>
</section>

<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MUZZEN App</h5>
        <p class="grey-text text-lighten-4">Musica electronica ilimitada<br>!Registrate ahora, es GRATIS!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text"><a class="waves-effect purple accent-3 btn-large">EMPIEZA AHORA</a></h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 TecTs Copyright
      <a class="grey-text text-lighten-4 right" href="#!">Proyecto en GitHub</a>
    </div>
  </div>
</footer>

