<section class="principal">
  <div class="img">
    <img src="../../assets/img/Main.png" alt="">
  </div>
</section>

<main class="tienda-electronica container row">
  <h2>TIENDA DE MÚSICA ELECTRÓNICA</h2>
  <div class="albums-muestra col m6 row">
    <!-- Cancion 1 -->
    <div class="col m6">
      <img
        src="../../assets/img/home/Keep-On.jpg"
        alt="Keep On - Zonderling feat Bishop"
        class="responsive-img">
    </div>
    <!-- Cancion 2 -->
    <div class="col m6">
      <img
        src="../../assets/img/home/Good-Evening.jpg"
        alt="Good Evening - Deorro"
        class="responsive-img">
    </div>
    <!-- Cancion 3 -->
    <div class="col m6">
      <img
        src="../../assets/img/home/Cartel-Ep.jpg"
        alt="Cartel EP - Boombox Cartel"
        class="responsive-img">
    </div>
    <!-- Cancion 4 -->
    <div class="col m6">
      <img
        src="../../assets/img/home/Calamari-Tuesday.jpg"
        alt="Calamari Tuesday - Feed Me"
        class="responsive-img">
    </div>
    <!-- Cancion 5 -->
    <div class="col m6">
      <img
        src="../../assets/img/home/Pharmacy.jpg"
        alt="Pharmacy - Galantis"
        class="responsive-img">
    </div>
    <!-- Cancion 6 -->
    <div class="col m6">
      <img
        src="../../assets/img/home/Heartache.jpg"
        alt="Heartache EP - Max Styler"
        class="responsive-img">
    </div>

  </div>
  <div class="texto col m6">
    <h3 class="lane">ENCUENTRA MEJORES CANCIONES DE LA MÚSICA ELECTRONICA</h3>
  </div>
</main>
